@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-green:rgb(106, 186, 79);
  --primary-dark: rgba(255, 255, 255,0);
}

body{
  font-family: "Roboto Condensed" sans-serif;
}
/***********Navbar**********/
.logo{
  width:3.5rem;
}
/**menu link****/
nav a.nav-link{
  font-weight: 500;
  letter-spacing: .02rem;
  cursor:pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-left: .75rem;
  margin-right: .75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark)
}
.navbar-brand{
  max-width: 3rem;
  /* padding: 0 !important; */
  height: 5rem ;
}
.navbar-nav >li > a.active, .navbar-nav > li > a.active:focus {
  border-top:0.1875rem solid var(--primary-green);
}
.navbar-nav > li > a:hover {
  border-top:0.1875rem solid var(--primary-green);
}